altair==5.5.0
beautifulsoup4==4.12.3
Flask==3.1.0
Flask-Cors==5.0.0
GitPython==3.1.44
matplotlib==3.10.0
nltk==3.9.1
numpy==2.2.1
pandas==2.2.3
pillow==11.1.0
pyarrow==19.0.0
pytube==15.0.0
requests==2.32.3
seaborn==0.13.2
streamlit==1.41.1
tqdm==4.67.1
